@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: var(--font-inter);
  }
  
  :root[dir="rtl"] {
    --font-sans: var(--font-cairo);
  }

  body {
    font-family: var(--font-sans), sans-serif;
    background-color: #F5F7FA;
    color: #0A2540;
  }
}
